<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="procedure: ${procedures}">

    <div class="col-md-12 mt-3">
        <div class="row p-2 bg-white border rounded">
            <div class="col-md-3 mt-1 mb-1">
                <img class="img-fluid" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
            </div>
            <div class="col-md-6 mt-1">
                <h5 th:text="${procedure.getName()}">Procedure name</h5>
                <div class="mt-1 mb-1">
                    <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-start border-primary mt-1">
                <div class="d-flex flex-row align-items-center">
                    <h4 class="mr-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4> <span class="text-success ms-3"><b>-50% Offer!</b></span>
                </div>
                <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>
                <div class="d-flex flex-column mt-2">
                    <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" class="btn btn-primary btn-sm" ole="button" aria-pressed="true">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>