@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5 ease;
}

.sidebar.active
{
    width: 250px;
}

.sidebar .logo_content .logo
{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: auto;
}

.sidebar.active .logo_content .logo
{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i
{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name
{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.sidebar #btn
{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn
{
    left: 90%;
}

.sidebar ul
{
    margin-top:15px;
}

.sidebar ul li
{
    position: relative;
    height: 55px;
    width: 80%;
    margin: 0 0 0 10px;
    list-style: none;
    line-height: 20px;
}

.sidebar ul li .tooltip
{
    position: absolute;
    left: 70px;
    top: 0;
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip
{
    display: none;
}

.sidebar ul li:hover .tooltip
{
    transition: all 0.5 ease;
    opacity: 1;
    top: 10px;
}

.sidebar ul li input
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border:none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search
{
    position: relative;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover
{
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a
{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5 ease;
    border-radius: 12px;
}

.sidebar ul li a:hover
{
    background: #fff;
    color: #11101d;
}

.sidebar ul li i
{
    height: 50px;
    min-width: 35px;
    border-radius: 12px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
}

.sidebar .links_name
{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active ul li
{
    margin-left: -10px;
}

.sidebar.active .links_name
{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content
{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile
{
    position: relative;
    padding-left: 10px 6px;
    height: 60px;
    background: #1d1b31;
}

.profile_content .profile .profile_details
{
    display: flex;
    align-items: center;
}

.profile_content .profile .profile_details
{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details
{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img
{
    height: 45px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin: 5px 5px;
}

.profile .profile_details .name_job
{
    margin-left: 10px;
}

.profile .profile_details .name
{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job
{
    font-size: 12px;
}

.profile #log_out
{
    position: absolute;
    left: 45%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}

.sidebar.active .profile #log_out
{
    left: 93%;
}

.home_content
{
    position: absolute;
    height: 100%;
    width: calc(100% - 250px);
    left: 100px;
}

.home_content .text
{
    font-size: 25px;
    font-weight: 500;
    margin-top: 12px;
    color: #1d1b31;
}

.home_content.home_content_big .text
{
    display: block;
}

.home_content.home_content_big
{
    display: block;
    margin-left: 150px;
}