<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Client</title>
</head>
<body>

    <div class="col-md-12 mt-3 container">
        <div class="row bg-white border-bottom border-primary pb-4">
            <div class="col-md-12 mt-3 position-relative">
                <img class="rounded" th:src="@{/image/backphone1.jpg}" style="height: 180px; width: 100%;">
            </div>
            <div class="col-md-4 position-absolute" style="top: 70px; left: 130px;">
                <img th:src="@{/image/{id}.jpg(id=${worker.getWorkerId()})}" class="rounded" style="width: 300px; height: 220px;">
            </div>
            <div class="col-md-8 position-relative" style="left: 340px;">
                <h3 th:text="${worker.getName()}" class="mb-1">NAME</h3>
                <p th:text="${worker.getPosition()}" class="mb-1 fs-5">Position</p>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-4 container">
        <div class="row bg-white">
            <div class="col-md-3 bg-light border border-primary rounded" style="height: 650px;">
                <div class="row pt-2">
                    <img class="col-md-4" th:src="@{/image/logo.png}" alt="logo" height="70px" width="70px">
                    <span class="col-md-6 pt-3">
                        <a th:href="@{/assistant}" style="text-decoration: none;">
                            <span class="h2 text-dark">Sanatorium</span>
                        </a>
                    </span>
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a th:href="@{/assistant/{id}(id=${worker.getWorkerId()})}" class="nav-link fs-5">
                        <span class="fs-2 text-dark">
                            <i class="fas fa-home"></i>
                        </span>
                            <b class="text-dark">Home page</b>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/assistant/{id}/allprocedures(id=${worker.getWorkerId()})}" class="nav-link fs-5">
                        <span class="fs-2 text-info">
                            <i class="fas fa-procedures"></i>
                        </span>
                            <b>All procedures list</b>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/assistant/{id}/allclients(id=${worker.getWorkerId()})}" class="nav-link fs-5">
                        <span class="fs-2 text-info">
                            <i class="fas fa-users"></i>
                        </span>
                            <b>All clients list</b>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/assistant/schedule}" class="nav-link fs-5">
                        <span class="fs-2 text-info">
                            <i class="far fa-clock"></i>
                        </span>
                            <b>Procedure's Schedule</b>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/assistant}" class="nav-link fs-5">
                        <span class="fs-2 text-info">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                            <b>Exit</b>
                        </a>
                    </li>
                </ul>
                <div class="border-top border-primary my-3">
                    <img class="img-fluid rounded my-3" th:src="@{/image/banner1.jpg}" alt="Banner" style="position: relative;">
                    <div class="text-white" style="position: absolute; top: 810px; left: 190px;">
                        <h4>What is new?</h4>
                    </div>
                </div>
            </div>

            <!--Основной контент-->
            <div class="col-md-9 bg-light rounded pb-3">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12 text-center">
                        <h2>Client's card</h2>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-4">
                                <img th:src="@{/image/{id}.jpg(id=${client.getId()})}" class="img-fluid">
                            </div>
                            <div class="col-md-8 border-left">
                                <h3 th:text="${client.getName()}" class="mb-1">NAME</h3>
                                <span th:text="'Birthdate: ' + ${client.getBirthdate()}">mm.dd.yyyy</span><br>
                                <div class="mt-1" th:text="'Illness: ' + ${client.getIllness()}">Illness</div>
                                <div class="mt-1">
                                    <span th:text="'Gender: ' + ${client.getGender()}">Gender</span>&emsp;
                                    <span th:text="'Bloodtype: ' + ${client.getBloodtype()}">Bloodtype</span>&emsp;
                                    <span th:text="'Rezus: ' + ${client.getRezus()}">Rezus</span>
                                </div>
                                <div class="mt-1">
                                    <span th:text="'Height: ' + ${client.getHeight() + ' cm'}">Height</span>&emsp;
                                    <span th:text="'Weight: ' + ${client.getWeight() + ' kg'}">Weight</span>&emsp;
                                </div>
                                <div class="mt-1">
                                    <span th:text="'Address: ' + ${client.getAddress()}">Address</span>
                                </div>
                                <div class="mt-1">
                                    <span th:text="'Arrived on: ' + ${reservation.getArrivedString}"></span>&emsp;
                                    <span th:text="'Moved out: ' + ${reservation.getMoved_outString}"></span>
                                </div>
                                <div class="mt-1">
                                    <span th:text="'Room number: ' + ${reservation.getRoomID()}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center row">
                    <div class="col-md-12 text-center mt-3 mb-1">
                        <h4>Visited Procedures</h4>
                    </div>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div th:each="procedure: ${myProcedures}">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img class="img-fluid card-img-top" th:src="@{/image/{id}.jpg(id=${procedure.getProcedureID()})}">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getProcedureID()})}" style="text-decoration: none">
                                            <h5 class="card-text" th:text="${procedure.getProcedureName()}">Procedure name</h5>
                                        </a>
<!--                                        <h4 class="mr-1 mt-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4>-->
<!--                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>-->
                                        <p th:text="${procedure.getDateString()}"></p>
                                        <p th:text="${procedure.getTimeString()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center mt-3 mb-1">
                        <h4>Bought Procedures</h4>
                    </div>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div th:each="procedure: ${boughtProcedures}">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img class="img-fluid card-img-top" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
                                    <div class="card-body text-center">
                                        <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" style="text-decoration: none">
                                            <h5 class="card-text" th:text="${procedure.getName()}">Procedure name</h5>
                                        </a>
                                        <h4 class="mr-1 mt-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4>
                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                                        <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>

                                        <form method="POST" th:action="@{'/assistant/' + ${workerId} + '/allclients/{id}'(id=${client.getId()})}">
                                            <input type="hidden" th:value="${client.getId()}" name="clientId" id="clientId" th:object="${clientId}">
                                            <input type="hidden" th:value="${procedure.getId()}" name="procedureId" id="procedureId" th:object="${procedureId}">
                                            <input class="btn btn-success btn-sm px-5" type="submit" value="Match as visited"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid bg-info mt-5">
        <div class="text-center text-white pt-4 pb-4">
            <p class="fs-5">Copyright © 2021. San</p>
        </div>
    </div>

</body>
</html>