<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Procedure</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 border rounded text-center">
            <div class="row">
                <div class="col-md-12"><h5>Confirm</h5></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-justify-center" th:text="${client.getName() + ', do you want to add ' + procedure.getName() + ' procedure?'}">Do you want to add this procedure?</p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form th:action="@{/client/{id}/allprocedures(id=${client.getId()})}">
                    <input class="btn btn-outline-success btn-sm px-5 mr-2" type="submit" value="No"/>
                </form>
                <form method="POST" th:action="@{/client/{id}/allprocedures(id=${client.getId()})}">
                    <input type="hidden" th:value="${client.getId()}" name="clientId" id="clientId" th:object="${clientId}">
                    <input type="hidden" th:value="${procedure.getId()}" name="procedureId" id="procedureId" th:object="${procedureId}">
                    <input class="btn btn-success btn-sm px-5" type="submit" value="Yes"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>