<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/49f02c4676.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .back{
            background: url(https://cdn.discordapp.com/attachments/721424095169871983/925371186475581440/2.jpg) top right;
            background-size: cover;
            height: 200px;
        }
        .head {
            background-color: #548ba8;
        }

        .font_color {
            color: lightseagreen;
        }

        .button {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        body {
            overflow-y: scroll;
        }

        .widget-left {
            padding-right: 1px;
        }

        .sidebar ul li i {
            height: 50px;
            min-width: 30px;
            border-radius: 12px;
            line-height: 50px;
            text-align: center;
            white-space: nowrap;
        }

        ol,
        ul {
            padding-left: 10%;
        }

        .sidebar ul li {
            position: relative;
            height: 55px;
            width: 70%;
            margin: 0 0 0 5px;
            list-style: none;
            line-height: 20px;
        }

        .sidebar.active ul li {
            width: 100%;
        }

        .sidebar.active #btn {
            left: 90%;
            z-index: 10;
        }

        .home_content ul li {
            margin-right: 15px;
        }

        .home_content ul li a i {
            margin-bottom: 10px;
            margin-right: 2px;
        }
    </style>
</head>

<body>

    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class="bx">
                    <img th:src="@{/image/logo.png}" style="height: 50px; width: 50px;">
                </i>
                <div class="logo_name">San</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/client/">
                    <i class='bx bxs-home'></i>
                    <span class="links_name">Haupt</span>
                </a>
                <span class="tooltip">Haupt</span>
            </li>
            <li>
                <a href="/client/mycard">
                    <i class="fas fa-heartbeat"></i>
                    <span class="links_name">Meine Gesundheitskarte</span>
                </a>
                <span class="tooltip">Meine Gesundheitskarte</span>
            </li>
            <li>
                <a href="/client/allprocedures">
                    <i class='bx bx-plus-medical'></i>
                    <span class="links_name">Anwendungsliste</span>
                </a>
                <span class="tooltip">Awendungsliste</span>
            </li>
            <li>
                <a href="/client/myprocedures">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Meine anwendungen</span>
                </a>
                <span class="tooltip">Meine anwendungen</span>
            </li>
            <li>
                <a href="/client/checks">
                    <i class="fas fa-money-bill"></i>
                    <span class="links_name">Meine Einkäufe</span>
                </a>
                <span class="tooltip">Meine Einkäufe</span>
            </li>
            <li>
                <a href="/client/showHistory">
                    <i class="fas fa-notes-medical"></i>
                    <span class="links_name">Meine Behandlung</span>
                </a>
                <span class="tooltip" style="z-index: 1000;">Meine Behandlung</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img th:src="@{/image/manager2.png}" class="img-fluid">
                    <div class="name_job">
                        <div class="name" th:text="${client.getName()}">name</div>
                        <div class="job">Client</div>
                    </div>
                </div>
                <!-- ссылка -->
                <a href="/logout">
                    <i class="bx bx-log-out text-white" id="log_out"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="home_content" style="left: 75px;">
        <div class="">
            <div class="rounded-top text-white d-flex back">
                <div class="ms-5 d-flex flex-column" style="margin-top: 45px">
                    <img th:src="@{/image/{id}.jpg(id=${client.getId()})}" class="img-thumbnail" style="object-fit: cover; height: 150px; width: 150px;">
                </div>
                <div class="ms-1" style="margin-top: 130px;">
                    <h5 th:text="${client.getName()}">John Smith</h5>
                    <p>Client</p>
                </div>
            </div>
            <div class="p-4 text-black">
                <hr>
                <div class="d-flex justify-content-center mt-4">
                    <!--Основной контент-->
                    <div class="border px-3" style="margin-right: 50px; width: 330px;
                    height: 30%;">
                        <h5 class="mt-2 mb-4 fw-bold text-center pt-3">Weather in Bishkek</h5>
                        <div id="_MI_dbba2d2a71eadd1ffc563722aa4881e2" class="widget" style="margin-left: 3px;">
                            <a href="https://ru.meteotrend.com/">Прогноз погоды</a>
                        </div>
    
                        <hr>
    
                        <h5 class="mt-2 b-2 text-center">Veranstaltungen im Sanatorium</h5>
                        <p class="fw-bold text-center mb-1">20. Dezember</p>
                        <p class="mb-1">10:00-12:00 - Erste Veranstaltung in der Haupthalle</p>
                        <p>18:00-19:00 - Abendessen bei einem berühmten Koch</p>
                    </div>

                    <!-- HERE -->
                    <div class="col-md-8 border rounded">
                        <div class="d-flex justify-content-center row">
                            <div class="row card-header head pt-4">
                                <h4 class="text-white">Geschichte meiner Käufe</h4>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Kauf ID</th>
                                    <th scope="col">Anwendung ID</th>
                                    <th scope="col">Datum</th>
                                    <th scope="col">Zeit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="purchase: ${purchases}">
                                    <td><a th:href="@{'/client/check' + ${purchase.getPurchaseID()}}" th:text="${purchase.getPurchaseID()}">treatmentID</a></td>
                                    <td th:text="${purchase.getProcedureID()}">name</td>
                                    <td th:text="${purchase.getDateString()}">date</td>
                                    <td th:text="${purchase.getTimeString()}">time</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let homeContent = document.querySelector(".home_content");
        let widget = document.querySelector(".widget")

        btn.onclick = function () {
            sidebar.classList.toggle("active")
            homeContent.classList.toggle("home_content_big")
            widget.classList.toggle("widget-left")
        }

    </script>
<script type='text/javascript'>(function(d,w,t,k){function l(){if(typeof(w._MIOB_)=='undefined'){w._MIOB_={};}var m=w._MIOB_[t]=k;var s=d.createElement('script');m.p=('https:'==d.location.protocol?'https:':'http:');s.type='text/javascript';s.async=true;s.src=m.p+'//info.meteotrend.com/mt/'+m.t+'.js';d.body.appendChild(s);}if(d.readyState=='complete')l();else{if(w.attachEvent)w.attachEvent('onload',l);else w.addEventListener('load',l,false);}})(document,window,'dbba2d2a71eadd1ffc563722aa4881e2',{t:'4x6',sw:{"pname":1,"ccond":1,"ccdesc":1,"dayblock":1,"tblank":1},css:['{p}//info.meteotrend.com/mt/{t}.css','{p}//info.meteotrend.com/cs/43aa6b94b2431026f2350c1b297949bcee43eeb7.css'],source:'meteotrend'});</script>


</body>

</html>



