<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Worker</title>
</head>
<body>

<style>

    body{overflow-y: scroll;}

    .widget-left
    {
        padding-right: 1px;
    }

    .sidebar ul li i
    {
        height: 50px;
        min-width: 30px;
        border-radius: 12px;
        line-height: 50px;
        text-align: center;
        white-space: nowrap;
    }

    ol, ul
    {
        padding-left: 10%;
    }
    .sidebar ul li
    {
        position: relative;
        height: 55px;
        width: 70%;
        margin: 0 0 0 5px;
        list-style: none;
        line-height: 20px;
    }
    .sidebar.active ul li
    {
        width: 100%;
    }

    .sidebar.active #btn
    {
        left: 90%;
        z-index: 10;
    }

    .home_content ul li
    {
        margin-right: 15px;
    }

    .home_content ul li i
    {
        margin-bottom: 10px;
        margin-right: 2px;
    }
</style>

<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="bx">
                <img th:src="@{/image/logo.png}"
                     style="height: 50px; width: 50px;">
            </i>
            <div class="logo_name">San</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a th:href="@{/director/}">
                <i class='bx bxs-home'></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a th:href="@{/director/allemployees}">
                <i class='bx bxs-user-account' ></i>
                <span class="links_name">Employee List</span>
            </a>
            <span class="tooltip">Employee List</span>
        </li>
        <li>
            <a th:href="@{/director/addemployee}">
                <i class='bx bxs-user-check' ></i>
                <span class="links_name">Add Employee</span>
            </a>
            <span class="tooltip">Add Employee</span>
        </li>
        <li>
            <a th:href="@{/manager/}">
                <i class='bx bxs-user-check' ></i>
                <span class="links_name">Manager</span>
            </a>
            <span class="tooltip">Manager</span>
        </li>
        <li>
            <a th:href="@{/assistant/}">
                <i class='bx bxs-user-check' ></i>
                <span class="links_name">Assistant</span>
            </a>
            <span class="tooltip">Assistant</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img th:src="@{/image/{id}.jpg(id=${worker.getWorkerId()})}">
                <div class="name_job">
                    <div class="name" th:text="${worker.getName()}">name</div>
                    <div class="job" th:text="${worker.getPosition()}">pos</div>
                </div>
            </div>
            <!-- ссылка -->
            <a href="/logout">
                <i class="bx bx-log-out text-white" id="log_out"></i>
            </a>
        </div>
    </div>
</div>

<div class="home_content"
     style="left: 75px;">
    <div class="">
        <div class="rounded-top text-white d-flex" style="background-color: #000; height:200px;">
            <div class="ms-4 d-flex flex-column" style="width: 150px; margin-top: 72px">
                <img th:src="@{/image/{id}.jpg(id=${worker.getWorkerId()})}" alt="Worker Image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px;">
            </div>
            <div class="ms-3" style="margin-top: 130px;">
                <h5 th:text="${worker.getName()}">Adis Kerimov</h5>
                <p th:text="${worker.getPosition()}">Manager</p>
            </div>
        </div>
        <div class="p-4 text-black">
            <div class="d-flex">
                <ul style="list-style: none;">
                    <li style="display: inline;">
                        <i class='bx bxl-instagram'></i>
                        <p1>@yatoro_reference</p1>
                    </li>
                    <li style="display: inline;">
                        <i class='bx bxl-telegram'></i>
                        <p1> @requimeofsoulzxc</p1>
                    </li>
                    <li style="display: inline;">
                        <i class='bx bxl-facebook'></i>
                        <p1> @requimeofsoulzxc</p1>
                    </li>
                </ul>
            </div>

            <hr>

            <div class="d-flex justify-content-center">
                <!--Основной контент-->
                <div class="border px-3"
                     style="margin-right: 50px;
                height: 30%;">
                    <h5 class="mt-2 mb-4 fw-bold text-center">Погода в Бишкеке</h5>
                    <div id="_MI_66984b5d9a980bd88b936ac37ca9bdf2" class="widget"
                         style="margin-left: 3px;">
                        <a href="https://ru.meteotrend.com/">Прогноз погоды</a></div>

                    <hr>

                    <h5 class="mt-2 b-2 text-center">О себе</h5>
                    <p>Мои Контакты: <span style="margin-left: 50px;">+996 777 777 777</span></p>

                </div>

                <!--    change-->
                <!--Основной контент-->

                <div class="mt-5 mb-5 px-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-8 text-center">
                            <h2>Edit Employee</h2>
                        </div>
                        <div class="col-md-5">

                            <form th:action="@{'/director/editemployee/{employeeId}'(employeeId=${employee.getWorkerId()})}" th:method="POST" th:object="${employee}">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name: </label>
                                    <input th:field="*{name}" type="text" class="form-control" id="name">
                                </div>
                                <div class="mb-3">
                                    <label for="position" class="form-label">Position: </label>
                                    <input th:field="*{position}" type="text" class="form-control" id="position" aria-describedby="positionHelp">
                                    <div id="positionHelp" class="form-text">Available positions: assistant, manager.</div>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let homeContent = document.querySelector(".home_content");
    let widget = document.querySelector(".widget")

    btn.onclick = function()
    {
        sidebar.classList.toggle("active")
        homeContent.classList.toggle("home_content_big")
        widget.classList.toggle("widget-left")
    }

</script>
<script type='text/javascript'>(function(d,w,t,k){function l(){if(typeof(w._MIOB_)=='undefined'){w._MIOB_={};}var m=w._MIOB_[t]=k;var s=d.createElement('script');m.p=('https:'==d.location.protocol?'https:':'http:');s.type='text/javascript';s.async=true;s.src=m.p+'//info.meteotrend.com/mt/'+m.t+'.js';d.body.appendChild(s);}if(d.readyState=='complete')l();else{if(w.attachEvent)w.attachEvent('onload',l);else w.addEventListener('load',l,false);}})(document,window,'66984b5d9a980bd88b936ac37ca9bdf2',{t:'4x6',sw:{"pname":1,"ccond":1,"ccdesc":1,"dayblock":1,"tblank":1},css:['{p}//info.meteotrend.com/mt/{t}.css','{p}//info.meteotrend.com/cs/7206a0560b4352ff43b0b986ccf1c4f88edab7a6.css'],source:'meteotrend'});</script>
</body>

</html>