<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Sidebar</title>
</head>
<body>

    <style>
        html { overflow-y: scroll; overflow-x:hidden; }
body { position: absolute; }
    </style>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class="bx">
                    <img th:src="@{/image/logo.png}"
                    style="height: 50px; width: 50px;">
                </i>
                <div class="logo_name">San</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a th:href="@{/assistant/{id}(id=${worker.getWorkerId()})}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Client List</span>
            </li>
            <li>
                <a th:href="@{/assistant/{id}/allprocedures(id=${worker.getWorkerId()})}">
                    <i class='bx bx-plus-medical'></i>
                    <span class="links_name">Procedure List</span>
                </a>
                <span class="tooltip">Procedure List</span>
            </li>
            <li>
                <a th:href="@{/assistant/{id}(id=${worker.getWorkerId()})}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Client List</span>
                </a>
                <span class="tooltip">Client List</span>
            </li>
            <li>
                <a th:href="@{/assistant/schedule}">
                    <i class='bx bx-time'></i>
                    <span class="links_name">Schedule</span>
                </a>
                <span class="tooltip">Schedule</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="images/violet.jpg">
                    <div class="name_job">
                        <div class="name">Budaychieva Aigerim</div>
                        <div class="job">Back-End Developer</div>
                    </div>
                </div>
                <!-- ссылка -->
                <a href="">
                    <i class="bx bx-log-out text-white" id="log_out"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="home_content">
        <div class="col-md-12 mt-3 container">
            <div class="row pb-4">
                <div class="col-md-12 mt-3 position-relative">
                    <img class="rounded" th:src="@{/image/backphone1.jpg}" style="height: 180px; width: 100%;">
                </div>
                <div class="col-md-4 position-absolute" style="top: 70px; left: 130px;">
                    <img th:src="@{/image/{id}.jpg(id=${worker.getWorkerId()})}" class="rounded" style="width: 300px; height: 220px;">
                </div>
                <div class="col-md-8 position-relative" style="left: 340px;">
                    <h3 th:text="${worker.getName()}" class="mb-1">NAME</h3>
                    <p th:text="${worker.getPosition()}" class="mb-1 fs-5">Position</p>
                </div>
            </div>
        </div>

        <hr>

            <div class="d-flex justify-content-center bg-white">
        
                <!--Основной контент-->
                <div class="col-md-9 rounded pb-3 justify-content-center">
                    <div class="d-flex justify-content-center row">
                        <div class="text-center">
                            <h2>Procedures list</h2>
                        </div>

                        <div class="text-center text-success py-2 px-3 my-3 card rounded col-md-8">
                            <marquee behavior="scroll" direction="left"><h4>Special OFFER for our Dear Employees!!!<span class="fs-3">-50%</span></h4></marquee>
                        </div>

                        <div class="d-flex justify-content-end col-md-4"
                        style="height: 50px;
                        margin-top: 20px;">
                            <form th:action="@{'/assistant/' + ${workerId} + '/findprocedure'}" method="post" class="d-flex">
                                <input type="text" name="name" placeholder="Enter procedure's name" class="form-control">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </div>

                                

        
                        <div th:each="procedure: ${myProcedures}">
        
                            <div class="col-md-12 mt-3">
                                <div class="row p-2 bg-white border rounded">
                                    <div class="col-md-3 mt-1 mb-1">
                                        <img class="img-fluid" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
                                    </div>
                                    <div class="col-md-6 mt-1">
                                        <h5 th:text="${procedure.getName()}">Procedure name</h5>
                                        <div class="mt-1 mb-1">
                                            <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-start border-primary mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4> <span class="text-success ms-3"><b>-50% Offer!</b></span>
                                        </div>
                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                                        <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>
                                        <div class="d-flex flex-column mt-2">
                                            <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" class="btn btn-primary btn-sm" ole="button" aria-pressed="true">Details</a>
                                            <button class="btn btn-outline-primary btn-sm mt-2 disabled" type="button"
                                                    data-toggle="popover" title="You already bought this procedure!">
                                                Buy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:each="procedure: ${myProcedures}">
        
                            <div class="col-md-12 mt-3">
                                <div class="row p-2 bg-white border rounded">
                                    <div class="col-md-3 mt-1 mb-1">
                                        <img class="img-fluid" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
                                    </div>
                                    <div class="col-md-6 mt-1">
                                        <h5 th:text="${procedure.getName()}">Procedure name</h5>
                                        <div class="mt-1 mb-1">
                                            <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-start border-primary mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4> <span class="text-success ms-3"><b>-50% Offer!</b></span>
                                        </div>
                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                                        <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>
                                        <div class="d-flex flex-column mt-2">
                                            <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" class="btn btn-primary btn-sm" ole="button" aria-pressed="true">Details</a>
                                            <button class="btn btn-outline-primary btn-sm mt-2 disabled" type="button"
                                                    data-toggle="popover" title="You already bought this procedure!">
                                                Buy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:each="procedure: ${myProcedures}">
        
                            <div class="col-md-12 mt-3">
                                <div class="row p-2 bg-white border rounded">
                                    <div class="col-md-3 mt-1 mb-1">
                                        <img class="img-fluid" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
                                    </div>
                                    <div class="col-md-6 mt-1">
                                        <h5 th:text="${procedure.getName()}">Procedure name</h5>
                                        <div class="mt-1 mb-1">
                                            <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-start border-primary mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4> <span class="text-success ms-3"><b>-50% Offer!</b></span>
                                        </div>
                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                                        <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>
                                        <div class="d-flex flex-column mt-2">
                                            <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" class="btn btn-primary btn-sm" ole="button" aria-pressed="true">Details</a>
                                            <button class="btn btn-outline-primary btn-sm mt-2 disabled" type="button"
                                                    data-toggle="popover" title="You already bought this procedure!">
                                                Buy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:each="procedure: ${myProcedures}">
        
                            <div class="col-md-12 mt-3">
                                <div class="row p-2 bg-white border rounded">
                                    <div class="col-md-3 mt-1 mb-1">
                                        <img class="img-fluid" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
                                    </div>
                                    <div class="col-md-6 mt-1">
                                        <h5 th:text="${procedure.getName()}">Procedure name</h5>
                                        <div class="mt-1 mb-1">
                                            <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-start border-primary mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4> <span class="text-success ms-3"><b>-50% Offer!</b></span>
                                        </div>
                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                                        <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>
                                        <div class="d-flex flex-column mt-2">
                                            <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" class="btn btn-primary btn-sm" ole="button" aria-pressed="true">Details</a>
                                            <button class="btn btn-outline-primary btn-sm mt-2 disabled" type="button"
                                                    data-toggle="popover" title="You already bought this procedure!">
                                                Buy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div th:each="procedure: ${restProcedures}">
        
                            <div class="col-md-12 mt-3">
                                <div class="row p-2 bg-white border rounded">
                                    <div class="col-md-3 mt-1 mb-1">
                                        <img class="img-fluid" th:src="@{/image/{id}.jpg(id=${procedure.getId()})}">
                                    </div>
                                    <div class="col-md-6 mt-1">
                                        <h5 th:text="${procedure.getName()}">Procedure name</h5>
                                        <div class="mt-1 mb-1">
                                            <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-start border-primary mt-1">
                                        <div class="d-flex flex-row align-items-center">
                                            <h4 class="mr-1" th:text="${procedure.getPrice() + 'som'}">PRICE</h4> <span class="text-success ms-3"><b>-50% Offer!</b></span>
                                        </div>
                                        <h6 class="text-info" th:text="${procedure.getDaysOfWeekString()}">DAYS</h6>
                                        <p th:text="${procedure.getStringStart_at() + ' - ' + procedure.getStringEnd_at}"></p>
                                        <div class="d-flex flex-column mt-2">
                                            <a th:href="@{'/assistant/' + ${workerId} + '/allprocedures/{id}'(id=${procedure.getId()})}" class="btn btn-primary btn-sm" ole="button" aria-pressed="true">Details</a>
                                            <form th:action="@{'/assistant/' + ${workerId} + '/allprocedures/add' + ${procedure.getId()}}">
                                                <input class="btn btn-outline-primary btn-sm mt-2 w-100" type="submit" value="Buy">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let homeContent = document.querySelector(".home_content");

        btn.onclick = function()
        {
            sidebar.classList.toggle("active")
            homeContent.classList.toggle("home_content_big")
        }
    </script>
</body>
</html>