<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Room 1</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
<main id="main" >
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="close">
        <a href="/#features2-5"><i class="bi bi-x-circle text-dark h1"></i></a>
      </div>
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="swiper-slide">
            <img src="https://cdn.discordapp.com/attachments/823229429920694293/924653623013670942/1f19a743caf264eb.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>О номере</h3>
            <ul>
              <li><strong>Категория</strong>: Делюкс</li>
              <li><strong>Количество гостей</strong>: 1</li>
              <li><strong>Стоимость</strong>: 2000 сом</li>
              <li><strong>Корпус</strong>: 1 корпус</li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Описание</h2>
            <p>
              Современный однокомнатный номер с оригинальной дизайнерской отделкой. Площадь номеров этой категории 20кв.м. Удобные кровати с ортопедическими матрацами позволят Вам, комфортно выспаться. А как говорится ,хороший сон – залог успеха. В каждом номере система кондиционирования и отопления.
              Также к Вашим услугам сейф, спутниковое ТВ, бесплатный интернет, холодильник, фен, тапочки, набор полотенец, кофеварка, набор посуды.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>