<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .head{
            background-color:lightseagreen;
        }
        .button{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    </style>
</head>

<body>

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 border rounded shadow m-2">
                <div class="row card-header head pt-3">
                    <h4 class="text-white">my medical card</h4>
                </div>
                <div class="row bg-white mt-3">
                    <div class="col-md-3">
                        <img src="herbal.png" width="100px" class="mb-3 ml-1">
                    </div>
                    <div class="col-md-5">
                        <p>information</p>
                    </div>
                    <div class="col-md-4" style="position: relative;">
                        <a href="" class="btn btn-info mb-3 mr-3 px-5 button" role="button" aria-pressed="true">Open</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border rounded shadow m-2">
                <div class="row card-header head pt-3">
                    <h4 class="text-white">my reservation</h4>
                </div>
                <div class="row bg-white mt-3">
                    <div class="col-md-3">
                        <img src="bed.png" width="100px" class="mb-3 ml-1">
                    </div>
                    <div class="col-md-9">
                        <p>information</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="col-md-6 border rounded shadow m-2">
                <div class="row card-header head pt-3">
                    <h4 class="text-white">all procedures</h4>
                </div>
                <div class="row bg-white mt-3">
                    <div class="col-md-3">
                        <img src="massage.png" width="100px" class="mb-3 ml-1">
                    </div>
                    <div class="col-md-5">
                        <p>information</p>
                    </div>
                    <div class="col-md-4" style="position: relative;">
                        <a href="" class="btn btn-info mb-3 mr-3 px-5 button" role="button" aria-pressed="true">Open</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border rounded shadow m-2">
                <div class="row card-header head pt-3">
                    <h4 class="text-white">my procedures</h4>
                </div>
                <div class="row bg-white mt-3">
                    <div class="col-md-3">
                        <img src="exercise.png" width="100px" class="mb-3 ml-1">
                    </div>
                    <div class="col-md-5">
                        <p>information</p>
                    </div>
                    <div class="col-md-4" style="position: relative;">
                        <a href="" class="btn btn-info mb-3 mr-3 px-5 button" role="button" aria-pressed="true">Open</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="col-md-6 border rounded shadow m-2">
                <div class="row card-header head pt-3">
                    <h4 class="text-white">my purchases</h4>
                </div>
                <div class="row bg-white mt-3">
                    <div class="col-md-3">
                        <img src="medical-prescription.png" width="100px" class="mb-3 ml-1">
                    </div>
                    <div class="col-md-5">
                        <p>information</p>
                    </div>
                    <div class="col-md-4" style="position: relative;">
                        <a href="" class="btn btn-info mb-3 mr-3 px-5 button" role="button" aria-pressed="true">Open</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border rounded shadow m-2">
                <div class="row card-header head pt-3">
                    <h4 class="text-white">my treatment</h4>
                </div>
                <div class="row bg-white mt-3">
                    <div class="col-md-3">
                        <img src="herbal2.png" width="100px" class="mb-3 ml-1">
                    </div>
                    <div class="col-md-5">
                        <p>information</p>
                    </div>
                    <div class="col-md-4" style="position: relative;">
                        <a href="" class="btn btn-info mb-3 mr-3 px-5 button" role="button" aria-pressed="true">Open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>