<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All purchases</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5 mb-5">

    <div class="d-flex justify-content-center row">
        <div class="col-md-12 text-center">
            <h2>History of all purchases made by <span th:text="${client.getName()}"></span></h2>
        </div>
        <table class="table table-striped mt-2">
            <thead>
            <tr>
                <th scope="col">Purchase ID</th>
                <th scope="col">Procedure ID</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="purchase: ${purchases}">
                <td><a th:href="@{'/client/' + ${client.getId()} + '/check' + ${purchase.getPurchaseID()}}" th:text="${purchase.getPurchaseID()}">treatmentID</a></td>
                <td th:text="${purchase.getProcedureID()}">name</td>
                <td th:text="${purchase.getDateString()}">date</td>
                <td th:text="${purchase.getTimeString()}">time</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>