<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Assistant</title>
</head>
<body>
    <div class="container bg-light mt-5">
       <div class="d-flex justify-content-center text-center row">
           <div class="col-md-7">
               <div class="col-md-6">
                   <h2>Assistant accounts</h2>
               </div>

               <div class="col-md-5">
                   <div th:each="worker : ${workers}">
                       <div class="alert alert-info mb-3 fs-1">
                           <a th:href="@{/assistant/{id}(id=${worker.getWorkerId()})}">
                               <h3 th:text="${worker.getName()}" class="mb-1">NAME</h3>
                           </a>
                       </div>
                   </div>
               </div>
           </div>

       </div>
    </div>
</body>
</html>